
body{
    background-image: url("linentexture.png");
    background-repeat: repeat;
    color: white;
    /* height: 100vh;
    max-height: -webkit-fill-available; */
}

 
.canvas{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 

.insideCanvas{
    width: 300px;
    height: 400px; 
    border: black solid;
    background-color: white;
}

#colorPicker{
    position: relative;
    float: right;
}
