body{
    height: 100%;
    /* margin: 2rem; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landing{
    margin: 0rem;
    height: 100%;
    /* overflow:auto; */
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
    position: fixed;
    z-index: -2;
    margin: 2rem 0rem 0rem 0rem;
    padding-left: 2rem;
    top: 0;
}

 .header img{
    height: 10rem;
    padding-left: 2rem;
} 

.introduction{
    width: 50vw;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    margin-top: 40vh;
    margin-left: 4rem;
}

.footer{
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    /* background-image: url("../style/testfabric2.png"); */
    /* background-size: 100% 100%; */
    width: 95vw;
    padding: 5rem 0rem 1rem 0rem;
}
.footer h3{
    padding: 1rem;
    position: absolute;
    /* background-image: url("../style/testfabric2.png"); */
    /* background-size: 100% 100%; */
    z-index: 10;
    right: 0;
}
#end{
    width: 95vw;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
}

.paragraph{
    position: relative;
    margin-bottom: 3rem;
    /* border: solid white; */
}
#synergy{
    width: 40vw;
    left: 50vw;
    position: absolute;
    z-index: -1;
}
.images{
    position: absolute;
    z-index: 20;
    height: 100%;
    pointer-events: none;
}
#one{
    position: absolute;
    height: 17vh;
    top: 150vh;
    left: 20vw;
    /* transform: translateZ(100px) scale(.71); */
    /* border: solid white; */
}
#two{
    position: absolute;
    height: 17vh;
    top: 15vh;
    left: 1vw;
}
#three{
    position: absolute;
    height: 7vh;
    transform: rotate(-20deg);
    top: 18vh;
    left: 9vw;
}
#four{
    position: absolute;
    height: 15vh;
    left: 55vw;
    top: 100vh;
    /* border: solid white; */
    transform: scaleX(-1);
    filter: hue-rotate(270deg);
}

@media only screen and (max-width: 600px){
    .introduction{
        width: 95vw;
        box-sizing: border-box;
        margin: 30vh 2vw 0 2vw;
    }
    .footer{
        padding: 0;
    }
    .footer h3{
        padding-bottom: 2rem;
    }
  }