.menuOn{
    position: sticky;
    /* background-image: url("../style/testfabric2.png"); */
    /* background-size: 100% 100%; */
    padding: 2rem;
    padding-bottom: 3rem;
    /* border: solid black; */
    width: max-content;
}

.menuItem{
    margin-bottom: 0.3rem;
}

.toggle{
    position: sticky;
    bottom: 0.3rem;
    /* background-image: url("../style/testfabric2.png"); */
    /* background-size: 100% 100%; */
    padding: 0.2rem 2rem 0.2rem 2rem;
    /* border: solid black; */
    width: max-content;
}