/* body{
    height: 100vh;
} */
.mugCss{
    margin: 2rem;
    height: 100vh;
} 

.text p{
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    left: 63vw;
    top: -50vh;
}

.text{
    height: 100%;
    width: 35vw;
    /* border: solid red 1px; */
}

.mugCss h1{
    width: 60vw;
}

#next{
    z-index: 20;
    position: relative;
    width: 35vw;
    display: flex;
    /* border: solid white 0.1px; */
    /* padding: 3rem 3rem 1rem 3rem; */
    /* background-image: url("testfabric2.png"); */
    /* background-size:cover; */
}
.nextButton{
    cursor: pointer;
}
#skipButton{
    z-index: 20;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem 3rem 0.5rem 2rem;
    /* background-image: url("testfabric2.png"); */
    /* background-size:cover; */
}



.mugCss img{
    height: 5vh;
    position: absolute;
    left: 34vw;
    top: 82vh;
}

@media only screen and (max-width: 600px){
    .text{
        display: none;
    }
    .mugCss h1{
        width: 90vw;
    }
    #next{
        width: 50vw;
    }
    #skipButton{
        padding: 1rem;
    }
    .mugCss img{
        left: 8vw;
        top: 83vh;
    }
}