@font-face{
  font-family: syne;
  src: url(style/SyneMono.ttf)
}
@font-face{
  font-family: brevier;
  src: url(style/BrevierViennese.otf)
}

body {
  margin: 0;
  font-family: "syne";
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
  height: 100%;
}

a{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
}

h1{
  font-family: "brevier";
}

h3{
  font-family: "brevier";
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

h4{
  font-family: "brevier";
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
